{% extends "base_generic.html" %}

{% block content %}

<h1 class="main-page-header">Game Index</h1>

<div class="text-center">
    <a class="main-sublink" href="{% url 'submit-game' %}">Submit a new game</a>
</div>

<div class="container">
    <div class="row">
    {% for game in games %}
        <div class="col-sm">
            <a href="{{ game.get_absolute_url }}">
                {% if game.thumbnail_url %}
                <img class="game-thumbnail rounded mx-auto d-block" src="{{game.thumbnail_url}}">
                {% endif %}
                <p class="text-center">{{game.name}}</p>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}